---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import SectionLayout from '@/layouts/SectionLayout.astro';


import data from '@/data/projects.json';
import { InvalidFrontmatterInjectionError } from 'node_modules/astro/dist/core/errors/errors-data';
const allPosts = await Astro.glob('./w/*.md');

---

<Layout>

	<SectionLayout title='meta' className='flex flex-row items-center gap-4'>
		<img src="/pfp.jpeg" alt="voltycodes" class="w-12 h-12" />
		<div>
			<h1 class="text-xl mb-1">@voltycodes</h1>
			<p class="text-sm text-foreground/75">full-stack dev | tech + anime | unfiltered thoughts, shitposts & dailylogs</p>
		</div>
		
	</SectionLayout>

	<SectionLayout title='about'>
		<p>final year uni student majoring in cs, passionate about building full stack solutions that scale.</p>
	</SectionLayout>

	<SectionLayout title={`stuff i've cooked`} className='grid grid-cols-1 md:grid-cols-2 gap-2'>
			{ data.projects.map((project) => ( <Card {...project} external /> ))}
	</SectionLayout>

	<SectionLayout title={`stuff i've written`} className='grid grid-cols-1 gap-2'>
		{allPosts.map((post, index) => <Card title={`[${index}] ${post.frontmatter.title}` || "Untitled Post"} url={post.url || "/"} />)}
	</SectionLayout>

</Layout>