---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import SectionLayout from '@/layouts/SectionLayout.astro';


import data from '@/data/projects.json';
import { InvalidFrontmatterInjectionError } from 'node_modules/astro/dist/core/errors/errors-data';
import MetaSection from '@/components/MetaSection.astro';
const allPosts = await Astro.glob('./w/*.md');

---

<Layout>

	<MetaSection />

	<SectionLayout title='about'>
		<p>final year uni student majoring in cs, passionate about building full stack solutions that scale.</p>
	</SectionLayout>

	<SectionLayout title={`stuff i've cooked`} className='grid grid-cols-1 md:grid-cols-2 gap-2'>
			{ data.projects.map((project) => ( <Card {...project} external /> ))}
	</SectionLayout>

	<SectionLayout title={`stuff i've written`} className='grid grid-cols-1 gap-2'>
		{allPosts.map((post, index) => <Card title={`[${index}] ${post.frontmatter.title}` || "Untitled Post"} url={post.url || "/"} />)}
	</SectionLayout>

</Layout>