---
interface Props {
	title: string;
	url: string;
	icon?: string;
	external?: boolean;
}

const {title, url, icon, external} = Astro.props;
---

<a href={url} class="w-full flex items-start gap-2 hover:bg-white/15 -mx-2 p-2 transition-all duration-200 ease-out" target={external ? "_blank" : "_self"} rel="noreferrer noopener">
	{ icon &&
		<svg class="size-5 mt-[1.5px]" set:html={icon} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
	}
	<p class="text-white">{title}</p>
</a>