---
interface Props {
  className?: string;
}
const { className } = Astro.props;

const year = new Date().getFullYear();
---
<footer class="max-w-screen-lg mx-auto flex flex-wrap items-end gap-2">
  <pre class={'footer monospace text-[3px] min-[320px]:text-[4px] min-[360px]:text-[5px] min-[430px]:text-[6px] min-[480px]:text-[7px] tracking-widest leading-tight'}>⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠤⣠⠾⣛
⣿⣦⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⢠⣄⠐⢣⡾⢿
⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢀⡄⣰⠆⡆⠘⣰⢻⢃⢓⢨⣴⣾
⣿⣿⣿⣿⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢰⢇⡏⡼⣰⣇⢆⢠⠛⡱⢳⡟⣾⠸⠿⠿
⣿⣿⣿⣿⣿⣿⣿⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⢤⡖⡿⣰⣱⣇⡾⣾⢷⠟⠤⢆⢔⣭⣾⣏⣾⣿⢻⣿⡿
⣿⣿⣿⣿⣿⣿⣿⣧⣿⡜⢂⠀⠠⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢠⠀⡄⡖⣼⣼⠏⡛⢼⢠⢣⡟⢟⡼⣣⢣⣯⠐⢡⣿⣾⣿⣿⣿⣿⣛⣨⣤⣶
⣿⣿⣿⣿⣿⣿⣽⣿⣿⣿⡎⢲⡀⠁⡀⡀⠘⣶⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢠⡄⣶⠰⢰⢁⣷⡏⡘⣸⠸⠃⠉⡷⠰⠁⢡⡴⢏⢞⡾⡳⣩⣿⣤⣶⣿⣿⣿⣿⣿⣿⣯⢿⣿⣭⣽
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡠⡀⠀⠀⠀⠘⢿⣿⣿⣿⣿⣶⣤⣄⣀⠀⠀⠀⢀⡀⠀⠀⡀⠀⠀⠀⠀⢀⠀⠀⠀⠀⢀⡀⢀⢀⠀⠆⠂⣋⣀⢀⡤⣀⢀⠈⡀⡉⡈⠈⢀⢁⣄⠞⠈⠈⠀⣠⢆⡞⣸⢁⠿⢜⣹⣿⣿⣿⣿⣿⣿⣿⡿⡿⠿⡃⣽⢹⣷⣾
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠑⠀⠀⠀⡄⠀⠻⣿⣿⣿⣿⣿⣿⣿⠈⢰⡀⠀⢈⠀⠀⠻⠸⠀⠀⠄⣤⢠⠀⢀⡄⠀⠁⡈⠀⠀⢰⠸⠃⣀⠀⠀⠀⠈⠀⠉⠁⠁⠁⠈⠀⠀⢀⡄⣴⣰⡟⣼⢳⠟⢋⣴⣿⣿⣿⣿⣿⣿⣿⣿⡿⢧⡿⠈⢳⣿⢸⣧⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀⠁⠠⠀⠙⡄⠀⡈⠛⢿⣿⣿⣿⣿⣄⠈⠳⠖⢋⣠⡄⠰⣶⣦⠆⣸⣿⣮⣤⡾⢱⣠⡴⢡⣡⢷⡏⡗⢰⠃⣾⢱⡆⡴⢠⡄⣤⢠⣤⠆⡄⠎⡾⢹⢋⡟⣵⢫⡎⢈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣷⣿⢸⣶⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠇⠀⠀⠀⠀⠀⠘⣁⠈⠱⣀⢆⢄⠀⠀⡈⣉⢉⠉⢉⣡⠰⢒⠀⢀⣿⣿⢰⣿⣿⣿⣿⣀⣽⣿⣶⣤⡄⠀⢁⢀⠿⡾⢳⡿⣼⢧⡿⣻⢏⡟⡜⣸⠀⡾⣰⢷⡿⡼⢏⠟⡀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⡇⣈⣤⠞
⣿⣿⣿⣿⣿⡿⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠘⢯⡦⡉⠂⠌⢣⢷⢠⢹⢸⡆⠄⡧⠄⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣾⣴⣰⠀⠆⣤⢋⡜⣱⣯⡾⣼⢳⢏⡄⠴⣥⢯⡼⣡⠟⣨⡼⠘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⠀⢫⡤⠂
⣿⠟⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡀⠘⣷⣸⡆⢠⠌⡘⠛⡌⠘⡇⡄⡃⠇⢠⠘⢸⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣮⡍⣟⡳⣫⡞⣵⢣⣎⡼⡃⢸⢃⡌⣡⣫⣴⢛⣵⠖⣬⠛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⢫⠔⢸
⠀⠀⢀⣀⠤⠔⠀⠀⡀⠤⠐⠀⠀⠀⡆⣨⣷⣷⡄⠙⣧⣷⣤⣶⣶⣦⡁⠀⡇⡇⡇⣾⡾⠀⣾⣿⢃⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠈⣱⢏⡝⣱⢏⡞⣵⢣⠈⢎⡽⣱⢟⣵⠟⢁⠞⣵⠶⣈⡽⡟⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠵⢣⡶⡎
⣢⠠⡇⠀⢠⣴⣆⠀⢷⠀⢰⣾⣇⠀⣿⣿⣿⣿⣿⠀⢸⣿⣿⣿⣿⣿⠇⢸⡇⡇⣇⡇⡇⢇⣿⠏⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠇⣿⢳⡿⣹⠏⠿⡹⣣⣏⢀⡿⡹⣋⡠⣢⢖⡴⢖⡀⢈⡁⢚⣋⠠⢽⣿⣿⣿⣿⣿⣿⣿⡟⣰⢏⡄⠇
⠁⠀⢠⠀⠘⣿⣿⡄⠘⠀⠀⣿⣿⡀⢸⣿⣿⣿⣿⣧⠈⢿⣿⣿⠿⢯⠀⢸⢁⢠⢿⢱⢸⢸⢿⡃⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⣷⢠⢇⡞⣵⡏⡜⡼⢳⣯⣤⣾⠵⠷⠛⠚⠛⠛⠷⢿⡵⢿⣵⢆⡄⣪⠽⣿⣿⣿⣿⣿⣿⣿⡿⣡⣿⡦⢴
⣶⡄⠈⣆⠀⢻⣿⣇⠀⡇⠀⢹⣿⡇⠈⡿⡿⣿⣿⣿⡆⠈⠓⠌⠢⢸⢸⣸⢸⡼⠈⡾⠇⠘⠶⢈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⣿⣿⡏⡾⣾⢳⣟⠉⣑⡶⠞⠉⢩⣴⣶⣶⡄⣴⣶⣶⣶⣤⣀⠉⠉⠪⣂⣷⡶⢝⣻⣿⣿⣿⣿⣿⠿⢋⠕⠀⠀
⣿⣿⡀⠘⠀⠸⣿⣿⡄⠸⡀⠀⠿⠇⠀⠇⠀⠀⠀⠀⠀⠀⠀⠠⠈⠀⠈⢃⢇⢣⢿⢃⠀⡱⡀⠀⣿⣿⣿⣿⣿⣿⣿⠿⣟⡙⠿⢿⡛⣿⢸⡏⡿⢹⣁⣗⡪⠖⣋⣤⣾⣿⣿⣿⣿⣿⣿⡿⣿⣿⡿⢳⠿⠋⠀⠀⠀⠀⠁⢎⠭⣞⣻⣿⠟⡋⣠⣊⠀⠀⠀⠀
⣿⣿⣇⠀⢣⠀⠻⠟⠃⠀⢣⡤⠤⣤⠖⠃⠀⠀⠀⣀⣤⣤⠀⠀⠀⠀⠀⠀⠂⡏⢘⢸⢨⢬⠔⡁⣽⣿⣿⣿⠟⡫⠐⣂⡅⡇⣰⢸⡇⣿⣼⢡⠃⠬⠛⣤⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢃⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡫⠚⣡⠈⡴⠃⠈⠓⢤⡀⢀
⣿⣿⣿⣦⠈⠀⠀⡠⠖⢠⡿⠖⢀⡤⠂⠂⠀⣶⣾⣿⣿⠶⠀⠀⠀⠀⣀⣠⣀⠀⠂⡘⡈⠀⣨⣴⣿⠿⠏⣁⢚⢡⣸⢹⢡⢡⡏⠿⢉⠥⠋⢉⣵⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡔⢠⡖⠁⡘⠁⢰⣿⣶⡄⠉⠓
⣿⣿⣿⣿⡆⠀⢡⠀⠀⠀⡰⠊⠀⠀⠀⠀⢳⠟⠊⠁⠀⠀⠀⠀⣰⣿⣿⣿⠿⠁⠀⠀⠀⠐⠒⠠⠄⢰⢸⢃⠦⠏⠃⠁⠀⠂⠀⣉⣠⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⢄⡴⢣⣶⣾⠃⢀⣾⣿⡟⠀⡼⠀
⠈⣿⣿⣿⣿⡄⠀⠧⠟⠀⣀⣴⣾⣿⣷⠀⠀⠄⠀⠀⠀⠀⠀⠀⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⣀⣀⣈⣁⣀⣀⣠⣶⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠟⠋⠉⠀⠀⠀⢀⣀⣰⣾⣿⡇⠀⠀⢀⣀⣀⡀⠀⠀⠀⢀⡴⢀⠆⠀⠀⢠⠃⢀⣾⣿⡿⠀⠸⠀⢀
⠀⠘⣿⣿⣿⣧⠀⢀⣤⣾⣿⣿⡿⠛⠁⢀⠤⠢⠠⣀⣀⡀⠀⠀⠉⠀⠀⠀⠀⠀⠀⠀⠠⡟⠛⠀⠀⠀⠀⠉⠙⠛⠛⠛⠛⠛⠛⠛⠉⠉⠀⣠⣤⣄⣬⠀⠀⠀⠀⢠⣴⣾⣿⣿⡟⠛⠛⠛⢋⣉⡉⠀⣇⣤⡴⣠⡞⢡⠋⠀⠀⢠⠎⠀⣼⣿⡟⠀⢠⠂⠀⣾
⢳⠀⢹⣿⣿⣿⣷⣾⣿⣿⡟⠋⠁⣀⠒⠁⠀⠀⠀⠈⠈⠉⠀⠀⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣶⠟⠋⠀⠀⠀⠀⠀⣴⣿⣿⡿⠋⠁⠀⠀⠀⠀⣾⣿⣿⣿⣿⡇⠀⣿⣿⣿⣿⡇⠀⣷⢫⣷⡿⢱⡿⣄⠀⠀⡌⠀⣴⣿⣿⠃⠀⠃⠀⣴⣿
⠀⢃⡀⠙⣿⣿⣿⡿⠿⠁⢀⣠⣎⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠐⠢⠦⢤⣀⣀⡀⢀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⠿⠛⠁⠀⠀⠀⠀⠀⠀⢠⣿⠿⠟⠋⠙⡇⠀⠿⠿⠛⠋⠀⣀⣿⣿⣿⠔⠃⠀⠈⠇⠘⠀⢠⣿⡿⠁⠀⠀⠀⣸⣿⡿
⠀⢀⢣⠀⠙⢿⣿⣷⣄⠀⠘⢿⣿⣿⣿⣷⣖⣤⣤⣤⢤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠙⠛⠐⠒⠚⠣⠤⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠧⠤⠄⠀⣴⡞⣿⣿⠿⠛⠁⣤⣾⣿⠀⠘⣤⣄⡀⠙⠃⠀⠀⠀⠸⢿⣿⠁
⣴⣷⣶⣷⡀⠈⢻⣿⣿⡄⠀⠈⢻⣿⣿⣿⣿⠝⠾⠛⠛⠛⠻⠷⣶⣶⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠉⠀⠀⠖⠢⠤⡤⠤⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⣴⠟⠁⢀⣶⣾⡿⠏⠁⣠⠄⠉⠉⠉⠛⠶⣶⣴⣶⣄⡀⠀⢀</pre>
    <p class="-mb-1">©voltycodes — {year}</p>
</footer>