---
import Footer from '@/components/Footer.astro';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/pfp.jpeg" />
		<meta name="color-scheme" content="dark">
		<meta name="generator" content={Astro.generator} />
		<title>voltycodes</title>
	</head>
	<body class="dark p-8 bg-background text-foreground">
		<slot />
		<Footer />
	</body>
</html>
